$aznb:jaznb;

$color_white: #fff;
$color_black: #000;

$color_black_bg: rgb(31, 33, 36);
$color_dot: rgb(59, 63, 70);
$color_dot-active: rgb(255, 0, 102);

$color_red: rgb(215, 43, 51);
$color_green: rgb(43, 215, 152);

$color_dark_grey: rgb(33, 36, 39);
$color_light_grey: rgb(126, 126, 126);